<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPConnectionFavorites</key>
	<array>
		<dict>
			<key>database</key>
			<string>economicindex</string>
			<key>host</key>
			<string>economicindex.ciqtg6kazbmk.ap-northeast-1.rds.amazonaws.com</string>
			<key>id</key>
			<integer>-305837038157183610</integer>
			<key>name</key>
			<string>ALL_RDS</string>
			<key>port</key>
			<string></string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string>ec2-54-250-157-87.ap-northeast-1.compute.amazonaws.com</string>
			<key>sshKeyLocation</key>
			<string>~/.ssh/ei-key.pem</string>
			<key>sshKeyLocationEnabled</key>
			<integer>1</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string>ec2-user</string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>eiuser</string>
		</dict>
		<dict>
			<key>database</key>
			<string>economicindex</string>
			<key>host</key>
			<string>economicindex.ciqtg6kazbmk.ap-northeast-1.rds.amazonaws.com</string>
			<key>id</key>
			<integer>6970236399446040706</integer>
			<key>name</key>
			<string>DATUM_RDS</string>
			<key>port</key>
			<string></string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string>ec2-54-250-157-87.ap-northeast-1.compute.amazonaws.com</string>
			<key>sshKeyLocation</key>
			<string>~/.ssh/ei-key.pem</string>
			<key>sshKeyLocationEnabled</key>
			<integer>1</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string>ec2-user</string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>datumstudio</string>
		</dict>
		<dict>
			<key>database</key>
			<string>doc_pn_test</string>
			<key>host</key>
			<string>exp-economicindex.ciqtg6kazbmk.ap-northeast-1.rds.amazonaws.com</string>
			<key>id</key>
			<integer>-7783633660957049975</integer>
			<key>name</key>
			<string>doc_pn_economic-index</string>
			<key>port</key>
			<string></string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string>ec2-54-250-157-87.ap-northeast-1.compute.amazonaws.com</string>
			<key>sshKeyLocation</key>
			<string>~/.ssh/ei-key.pem</string>
			<key>sshKeyLocationEnabled</key>
			<integer>1</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string>ec2-user</string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>eiuser</string>
		</dict>
		<dict>
			<key>database</key>
			<string>exp-economicindex</string>
			<key>host</key>
			<string>exp-economicindex.ciqtg6kazbmk.ap-northeast-1.rds.amazonaws.com</string>
			<key>id</key>
			<integer>5570312427574752636</integer>
			<key>name</key>
			<string>exp-economic-index</string>
			<key>port</key>
			<string></string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string>ec2-54-250-157-87.ap-northeast-1.compute.amazonaws.com</string>
			<key>sshKeyLocation</key>
			<string>~/.ssh/ei-key.pem</string>
			<key>sshKeyLocationEnabled</key>
			<integer>1</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string>ec2-user</string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>eiuser</string>
		</dict>
		<dict>
			<key>database</key>
			<string>economicindex_local</string>
			<key>host</key>
			<string>127.0.0.1</string>
			<key>id</key>
			<integer>-713680016837942405</integer>
			<key>name</key>
			<string>mac_local</string>
			<key>port</key>
			<string></string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string>ec2-54-250-157-87.ap-northeast-1.compute.amazonaws.com</string>
			<key>sshKeyLocation</key>
			<string>~/.ssh/ei-key.pem</string>
			<key>sshKeyLocationEnabled</key>
			<integer>1</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string>ec2-user</string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>eiuser</string>
		</dict>
		<dict>
			<key>database</key>
			<string>economicindex_local</string>
			<key>host</key>
			<string>local.service.economic-index.jp</string>
			<key>id</key>
			<integer>8700340865074585731</integer>
			<key>name</key>
			<string>vagrant local</string>
			<key>port</key>
			<string>3030</string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string></string>
			<key>sshKeyLocation</key>
			<string></string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string></string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>eiuser</string>
		</dict>
		<dict>
			<key>database</key>
			<string>economicindex</string>
			<key>host</key>
			<string>economicindex.ciqtg6kazbmk.ap-northeast-1.rds.amazonaws.com</string>
			<key>id</key>
			<integer>-638145782382588045</integer>
			<key>name</key>
			<string>本番economic</string>
			<key>port</key>
			<string></string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string>ec2-54-250-157-87.ap-northeast-1.compute.amazonaws.com</string>
			<key>sshKeyLocation</key>
			<string>~/.ssh/ei-key.pem</string>
			<key>sshKeyLocationEnabled</key>
			<integer>1</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string>ec2-user</string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>2</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>eiuser</string>
		</dict>
		<dict>
			<key>database</key>
			<string>economicindex_v2</string>
			<key>host</key>
			<string>economicindex.ciqtg6kazbmk.ap-northeast-1.rds.amazonaws.com</string>
			<key>id</key>
			<integer>244274725001432687</integer>
			<key>name</key>
			<string>本番economic_v2</string>
			<key>port</key>
			<string></string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string>ec2-54-250-157-87.ap-northeast-1.compute.amazonaws.com</string>
			<key>sshKeyLocation</key>
			<string>~/.ssh/ei-key.pem</string>
			<key>sshKeyLocationEnabled</key>
			<integer>1</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string>ec2-user</string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>2</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>eiuser</string>
		</dict>
		<dict>
			<key>database</key>
			<string>economicindex_dev</string>
			<key>host</key>
			<string>economicindex.ciqtg6kazbmk.ap-northeast-1.rds.amazonaws.com</string>
			<key>id</key>
			<integer>-2618139605087352969</integer>
			<key>name</key>
			<string>開発economic</string>
			<key>port</key>
			<string></string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string>ec2-54-250-157-87.ap-northeast-1.compute.amazonaws.com</string>
			<key>sshKeyLocation</key>
			<string>~/.ssh/ei-key.pem</string>
			<key>sshKeyLocationEnabled</key>
			<integer>1</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string>ec2-user</string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>2</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>eiuser_dev</string>
		</dict>
	</array>
</dict>
</plist>
